thead tr th{
    text-align: center;
}

td, th{
    text-align: center;
    vertical-align: middle;
}
.input-group{
    margin: 20px 20px;
}

svg{
    height:150px;
}

td:first-of-type, td:first-of-type > div{
    height:200px;
    width: 250px;
}